# Virtual environments anywhere in the repo
**/.venv/
**/venv/
**/env/

# Python caches
**/__pycache__/
*.py[cod]

traffic-gen/docs
# toposim env
topsim/uv.lock

**/tests/

# experiment runs
experiments/runs/

## HF Artifacts
**/traces_hf